<!DOCTYPE html>

<html>

<head>

<title>Hackathon</title>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
<link rel="stylesheet" href="style.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script>  
$(function(){ 
  $("#header").load("template.html");   
}); 
</script> 

</head>
 
<body background="images/background.png">   

<div id="header"></div> 

<div class="bg"></div>


<div style = "background-color:transparent;">

<section id="hero">

<div class="section-inner">

<center>
<font color = black>
<h1>Hemlo make me win honkathonk</h1>

<button type="button" class="btn btn-primary btn-lg round" onclick="location.href = 'input.html';">TRY NOW</button>

</center>
</div>

</section>

<footer class = "footer">
Are you looking for things to do during Covid-19, but don't know blah blah blah?
</footer>

</body>

</html>