<!DOCTYPE html>

<html>

<head>

<title>Hackathon</title>

<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
<link rel="stylesheet" href="style.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
 
<body background="images/background.png">   
<div style = "background-color:transparent;">
<ul>


<li><a href="index.html" type="submit" value="submit">Home</a></li>

<li><a href="form.html" type="submit" value="submit">Input</a></li>

<li><a href="quiz.html" type="submit" value="submit">Activities</a></li>

<li><a href="result.html" type="submit" value="submit">Results</a></li>

</ul>
</div>

<div id="header"></div> 

<div style = "background-color:transparent;">

<section id="hero">

<div class="section-inner">

<center>
<h1>My project or something</h1>

<button type="button" class="btn btn-primary btn-lg round" type="submit" value="submit">TRY NOW</button>

</center>
</div>

</section>

<footer class = "footer">
Do you want to leave your house,<br> but don't know if your area is safe?<br> We can give you ideas of things to do, while staying safe.


</footer>

</body>

</html>
