<!DOCTYPE html>
 
<html>
 
<head>
 
<title>Hackathon</title>
 
<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
<link rel="stylesheet" href="static/css/style.css">
 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
 
<body background="static/images/background.png">   
<div style = "background-color:transparent;">
<ul>
 
    <li><a href="{{ url_for('home') }}">Home</a></li>
    <li><a href="{{ url_for('form') }}">Form</a></li>
    <li><a href="{{ url_for('data') }}">Data</a> </li>
 
</ul>
</div>
 
<div id="header"></div> 
 
<div style = "background-color:transparent;">
 
<section id="hero">
 
<div class="section-inner">
 
    <center>
        <img src="static/images/logo.png" alt="Covidmatic" width="700" height="auto">
        <br>
        <br>
        <br>
        <form action="/openForm/" style = "background-color: #transparent !important;" method="POST">
        <button type="submit" class="btn btn-primary btn-lg round" type="submit" value="submit">TRY NOW</button>
        </form>
 
        </center>
        </div>
        
        </section>
        
        <footer class = "footer">
        Are you uncertain about your safety when going outside?<br>Are you left with nothing to do?<br> Covidmatic will suggest you activities while making sure you are safe!
        
        
</footer>
 
</body>
 
</html>