<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<title>repl.it</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<center>
<body style = "background-color:#1c7bc9;">
  <div style = "background-color:transparent;">
<ul>



<li><a href="index.html" type="submit" value="submit">Home</a></li>

<li><a href="form.html" type="submit" value="submit">Input</a></li>

<li><a href="quiz.html" type="submit" value="submit">Activities</a></li>

<li><a href="result.html" type="submit" value="submit">Results</a></li>

</ul>
</div>
<script>
$(document).ready(function(){
  $(".choice1").click(function(){
    $("#hideable1").hide();
    $("#hideable11").hide();
    $("#hideable111").hide();
    $("#hideable1111").hide();
    $("#hideable11111").hide();
  });
  $(".choice2").click(function(){
    $("#hideable2").hide();
    $("#hideable22").hide();
    $("#hideable222").hide();
    $("#hideable2222").hide();
    $("#hideable22222").hide();
  });
  $(".choice3").click(function(){
    $("#hideable3").hide();
    $("#hideable33").hide();
    $("#hideable333").hide();
    $("#hideable3333").hide();
    $("#hideable33333").hide();
  });
  $(".choice4").click(function(){
    $("#hideable4").hide();
    $("#hideable44").hide();
    $("#hideable444").hide();
    $("#hideable4444").hide();
    $("#hideable44444").hide();
  });
  $(".choice5").click(function(){
    $("#hideable5").hide();
    $("#hideable55").hide();
    $("#hideable555").hide();
    $("#hideable5555").hide();
    $("#hideable55555").hide();
  });
});
</script>

	  <p id="hideable1">What do you do with time off?</p>
	  <button  id="hideable11" onclick="addPerson1()" class="btn btn-primary btn-lg round choice1" style="font-size:12px !important;letter-spacing: 0px !important;">Playing Videogames/Watching TV</button>
    <button  id="hideable111" onclick="addPerson2()" class="btn btn-primary btn-lg round choice1" style="font-size:12px !important;letter-spacing: 0px !important;">Hiking/Biking</button>
    <button  id="hideable1111" onclick="addPerson3()" class="btn btn-primary btn-lg round choice1" style="font-size:12px !important;letter-spacing: 0px !important;">Hanging out with friends</button>
    <button  id="hideable11111" onclick="addPerson4()" class="btn btn-primary btn-lg round choice1" style="font-size:12px !important;letter-spacing: 0px !important;">Making something/gardening</button>
    <br>
    <br>

    <p id="hideable2">What are you known for?</p>
    <button  id="hideable22" onclick="addPerson1()" class="btn btn-primary btn-lg round choice2" style="font-size:12px !important;letter-spacing: 0px !important;">Being Intelligent</button>
    <button  id="hideable222" onclick="addPerson2()" class="btn btn-primary btn-lg round choice2" style="font-size:12px !important;letter-spacing: 0px !important;">Physical Capability</button>
    <button  id="hideable2222" onclick="addPerson3()" class="btn btn-primary btn-lg round choice2" style="font-size:12px !important;letter-spacing: 0px !important;">Being Funny</button>
    <button  id="hideable22222" onclick="addPerson4()" class="btn btn-primary btn-lg round choice2" style="font-size:12px !important;letter-spacing: 0px !important;">Creativity</button>
    <br>
    <br>
    
    <p id="hideable3">What do you hate doing?</p>
    <button  id="hidable33" onclick="addPerson1()" class="btn btn-primary btn-lg round choise3" style="font-size:12px !important;letter-spacing: 0px !important;">Social Gatherings</button>
    <button  id="hidable333" onclick="addPerson2()" class="btn btn-primary btn-lg round choise3" style="font-size:12px !important;letter-spacing: 0px !important;">Sitting Idle</button>
    <button  id="hidable3333" onclick="addPerson3()" class="btn btn-primary btn-lg round choise3" style="font-size:12px !important;letter-spacing: 0px !important;">Being Alone</button>
    <button  id="hidable33333" onclick="addPerson4()" class="btn btn-primary btn-lg round choise3" style="font-size:12px !important;letter-spacing: 0px !important;">Not Having anything to do</button>
    <br>
    <br>

    <p id="hidable4">How would you use your time in lock down?</p>
    <button  id="hidable44" onclick="addPerson1()" class="btn btn-primary btn-lg round choise4" style="font-size:12px !important;letter-spacing: 0px !important;">read a book/watch tv by yourself</button>
    <button  id="hidable444" onclick="addPerson2()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Improve/learn a new skill</button>
    <button  id="hidable4444" onclick="addPerson3()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Talk /meet new people (safely)</button>
    <button  id="hidable44444" onclick="addPerson4()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Create something</button>
    <br>
    <br>

    <p id="hidable5">What did you enjoy about lock-down?</p>
    <button  id="hidable55" onclick="addPerson1()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Having lots of time alone</button>
    <button  id="hidable555" onclick="addPerson2()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Having extra time to </button>
    <button  id="hidable5555" onclick="addPerson3()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Calling and talking to friends</button>
    <button  id="hidable55555" onclick="addPerson4()" class="btn btn-primary btn-lg round" style="font-size:12px !important;letter-spacing: 0px !important;">Having time to work on projects</button>
    <br>
    <br>
     
    <p></p>
    <script src="script.js"></script>
  </body>
</center>
</html>